body {
    background-image: url(pic1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.grid{
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(100, 1vh);
}

.title{
    grid-area: 1/1/10/11;
    background-color: red;
    border-radius: 10px;
}

.text1{
    grid-area: 10/1/25/11;
    background-color: black;
    padding: 7px;
    opacity: 0.8;
    float: left;
    padding-right: 30%;
    color: aliceblue;
    border-radius: 10px;
}
.text2{
    grid-area: 25/1/34/20;
    background-color: darkslategrey;
    padding: 7px;
    opacity: 0.8;
    float: right;
    padding-left: 30%;
    color: aliceblue;
    border-radius: 10px;
}
.text3{
    grid-area: 34/1/42/11;
    background-color: black;
    padding: 7px;
    opacity: 0.8;
    padding-right: 30%;
    color: aliceblue;
    border-radius: 10px;
}
.text4{
    grid-area: 42/1/49/11;
    background-color: darkslategrey;
    padding: 7px;
    opacity: 0.8;
    padding-left: 30%;
    color: aliceblue;
    border-radius: 10px;
}
.text5{
    grid-area: 49/1/72/11;
    background-color: black;
    padding: 7px;
    opacity: 0.8;
    padding-right: 30%;
    color: aliceblue;
    border-radius: 10px;
}
.text6{
    grid-area: 72/1/82/11;
    background-color: darkslategrey;
    padding: 7px;
    opacity: 0.8;
    padding-left: 30%;
    color: aliceblue;
    border-radius: 10px;
    
}
.text7{
    grid-area: 82/1/95/11;
    background-color: black;
    padding: 7px;
    opacity: 0.8;
    padding-right: 30%;
    color: aliceblue;
    border-radius: 10px;
}

.nav{
    grid-area: 95/1/101/11;
    background-color: gray;
    border-radius: 10px;
    font-size: 30px;
}

.Bild1{
    grid-area: 49/8/72/10;
    z-index: 5;
}
.Bild1>img{
    width: auto;
    height: 100%;
}

.Bild2{
    grid-area: 67/1/82/3;
    z-index: 5;
}
.Bild2>img{
    width: auto;
    height: 100%;
}

.Bild3{
    grid-area: 10/9/25/10;
    z-index: 5;
}
.Bild3>img{
    width: auto;
    height: 100%;
}