* {
   margin: 0;
   padding: 0;
}


.angry-grid {
   display: grid;

   grid-template-rows: 7vh repeat(2, 43vh) 7vh;
   grid-template-columns: repeat(3, 33.3vh);
   gap: 0px;
   height: 100%;

}

.angry-grid>div {
   border: blue 1px solid;
}

.div-1 {
   grid-area: 1/1/1/6;

   background-color: coral;
}

.div-2 {
   grid-area: 2/1/5/1;

   background-color: blue;
}

.div-3 {
   grid-area: 6/2/4/6;

   background-color: green;
}

.div-4 {
   grid-area: 2/2/5/6;
   background-image: url("../img/background.jpeg");
   background-size: cover;
   background-repeat: no-repeat;

   display: grid;
   grid-template-columns: repeat(4, 25%);
   grid-template-rows: repeat(3, 33.3%);
}


.div-4>.div-5 {
   background-color: white;
   grid-area: 1/1/1/5;
   z-index: -1;
}

.div-4>.div-6 {
   background-color: rgb(2, 95, 2);
   height: 1fr;
   transition: grid-area ease-out 1s;
   border-radius: 10px;
}

.div-6:hover {
   grid-area: 1/1/3/2;

}

.div-4>.div-7 {
   background-color: grey;
   grid-area: 2 / 2 / 3 / 3;
   transition: grid-area ease-out 1s;
   border-radius: 10px;


}


.div-4>.div-7:hover {
   grid-area: 2 / 2 / 4 / 3;

}

.div-4>.div-8 {
   background-color: black;
   border-radius: 10px;

}

.div-4>.div-8:hover {
   grid-area: 1 / 3 / 3 / 4;

}

.div-4>.div-9 {
   background-color: orange;
   grid-area: 2 / 4 / 2 / 4;
   transition: grid-area ease-out 1s;
   border-radius: 10px;



}

.div-4>.div-9:hover {
   grid-area: 1 / 4 / 4 / 5;
}

.div-4>div>a>img {
   display: block;
   margin-right: auto;
   margin-left: auto;
   width: 15em;
}