* {
   margin: 0;
   padding: 0;
}


.parent {

   /* Grid erstellung */
   
   display: grid;
   grid-template-rows: 7vh repeat(2, 43vh) 7vh;
   grid-template-columns: repeat(3, 33.3vh);
   gap: 0px;
   height: 100%;

}



/* Div 1 bearbeitung */

.div-1 {
   /* Grid Orientierung + Farbverlauf*/

   grid-area: 1/1/1/6;
   background-image:linear-gradient(to right, green, grey, black, orange) ; 
}

h1{
   /* Schriftart + Textorientierung+ Schriftfarbe */

   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
   color: rgb(205, 198, 198);
}

/* Div 2 Bearbeitung */

.div-2 {
   /* Grid Orientierung + Farbverlauf*/

   grid-area: 2/1/5/1;
   background-image: linear-gradient(to top, purple, rgb(83, 0, 199));
}

.div-2>a{
   /* Links bearbeitet */
   text-decoration: none;
   color: aliceblue;
}

/* Div 3 Bearbeitung */


.div-3 {
   /*Grid Orientierung + Hintergrund Bild + anpassung + Untergeordnetes Grid erstellt */

   grid-area: 2/2/5/6;
   background-image: url("../img/background.jpeg");
   background-size: cover;
   background-repeat: no-repeat;

   display: grid;
   grid-template-columns: repeat(4, 25%);
   grid-template-rows: repeat(3, 33.3%);
}


.div-3>.div-5 {
   /* Hintergrund + Grid orientierung + Z-index */
   background-color: white;
   grid-area: 1/1/1/5;
   z-index: -1;
}

/* GTA */

.div-3>.GTA {
   /* Hintergrund +Transition + Abrundung */

   background-color: rgb(2, 95, 2);
   transition: grid-area ease-out 1s;
   border-radius: 10px;
}

#GTA-content{
   /* Kein Inhalt anzeigen */

   display: none;
}

.GTA:hover {
   /* Grid Orientierung bei Hover*/

   grid-area: 1/1/3/2;

}

.GTA:hover #GTA-content{
   /* Inhalt anzeigen bei Hover + Anpassung von Inhalt */

   line-height: 100%;
   font-size: 110%;
   padding-left: 20px;
   color: aliceblue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display:block;
}

/* Ark */


.div-3>.Ark {
   /* Hintergrund + Grid Orientierung +Transition + Abrundung */
   background-color: grey;
   grid-area: 2 / 2 / 3 / 3;
   transition: grid-area ease-out 1s;
   border-radius: 10px;

}

#Ark-content{
   /* Kein Inhalt anzeigen */
   display: none;
}

.div-3>.Ark:hover {
   /* Grid Orientierung bei Hover*/
   grid-area: 2 / 2 / 4 / 3;

}

.Ark:hover #Ark-content{
   /* Inhalt anzeigen bei Hover + Anpassung von Inhalt */
   display: block;
   color: black;
   padding-left:20px ;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
   line-height: 100%;
   font-size: 110%;
}

/* TSP */

.div-3>.TSP {
   /* Hintergrund + Transition + Abrundung */

   background-color: black;
   border-radius: 10px;
   transition: grid-area ease-out 1s;
   border-radius: 10px;
   text-decoration: none;

}

#TSP-content{
   /* Kein Inhalt anzeigen */
   display: none;
}

.div-3>.TSP:hover {
   /* Grid Orientierung bei Hover*/

   grid-area: 1 / 3 / 3 / 4;

}

.TSP:hover #TSP-content{
   /* Inhalt anzeigen bei Hover + Anpassung von Inhalt */

   line-height: 100%;
   font-size: 110%;
   padding-left: 20px;
   color: aliceblue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display:inline-block;
}


/* TCM */
.div-3>.TCM {
   /* Hintergrund + Grid Orientierung + Transition + Abrundung */
   background-color: orange;
   grid-area: 2 / 4 / 2 / 4;
   transition: grid-area ease-out 1s;
   border-radius: 10px;
   text-decoration: none;
}

#TCM-content{
   /* Kein Inhalt anzeigen */
   display: none;

}

.div-3>.TCM:hover {
   /* Grid Orientierung bei Hover*/
   grid-area: 2 / 4 / 4 / 5;
}



.TCM:hover #TCM-content{
   /* Inhalt anzeigen bei Hover + Anpassung von Inhalt */
   display: block;
   color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding-left: 20px;
   line-height: 100%;
   font-size: 110%;
}

/* Bildorientierung */
.div-3>div>a>img {
   display: block;
   margin-right: auto;
   margin-left: auto;
   width: 15em;
}